[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
pi_testnet = "https://api.testnet.minepi.com/rpc"
pi_mainnet = "https://rpc.mainnet.pi.network"

[etherscan]
pi_testnet = { key = "${ETHERSCAN_API_KEY}", chain = 2025, url = "https://testnet.minepi.com/api" }
pi_mainnet = { key = "${ETHERSCAN_API_KEY}", chain = 314159, url = "https://pi.blockscout.com/api" }
